### Angular ###
## Angular ##
# compiled output
dist/
tmp/
out-tsc/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/
.project/
.classpath/
*.launch
.settings/
.vscode/
.editorconfig

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

### Java ###
# Compiled class file
*.class
target/

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


.mvn/wrapper/maven-wrapper.jar