* {
    font-family: 'Roboto';
    color: #666666;
}

html, body {
    margin: 0px;
    background-image: linear-gradient(to right, #ffcd8f, #ffe4c4);
}

input, select {
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}

h3 {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 25px;
}

.child-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

