@import '../../../../colors.scss';

h3 {
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $primary;
    color: #fff;
}

form {
    width: 500px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 3px solid $primary;
}

.form-container {
    padding: 30px;
    padding-top: 0;
}

.form-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
        margin-bottom: 8px;
        font-size: small;
        font-weight: 300;
    }

    select, input {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid $secondary;
        border-radius: 5px;
        padding: 6px;
        font-size: medium;
        letter-spacing: 0.5px;
        background-color: $secondary;

        &:focus {
            outline: none;
            border: 1px solid $primary;
        }
    }
}

.form-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    button {
        &:enabled:hover {
            cursor: pointer;
        }
        &:disabled:hover {
            cursor: no-drop;
        }
    }

    .submit-button {
        padding: 5px 15px;
        width: 50%;
        background-color: $primary;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: medium;

        &:disabled {
            background-color: lightgray;
            color: gray;
        }

        &:enabled:hover {
            background-color: $primary-dark;
        }

    }
    
    .clear-button {
        background: none;
        border: none;
        padding: 0;

        &:hover{
            color: rgb(233, 150, 122);
        }
    }

}
